.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: var(--color-scheme-background);
    max-width: 375px;
    min-height: 68px;
    margin: 0 auto;
}
.logo_container {
    display: flex;
    align-items: center;
}
.logo {
    height: 40px;
}
.logo_link {
    display: flex;
    align-items: center;
    gap: 4px;
}
.menu_button {
    background: none;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

@media screen and (min-width: 768px) {
    .header_container {
        max-width: 736px;
    }
    .logo {
        height: 32px;
    }
    .menu_button {
        width: 28px;
        height: 28px;
    }
}
@media screen and (min-width: 1440px) {
    .header_container {
     display: none;
    }
}