.wrapper {
    padding: 16px;
    background-color: #fff;
    border-radius: 12px;
    height: 100%;
    overflow-y: auto;
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.date {
    font-size: 12px;
    color: #777;
    margin-bottom: 16px;
}

.text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.actions {
    display: flex;
    gap: 12px;
}

.edit {
    background-color: #FFF4F6;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
}

/* .delete {
    background-color: #ff4d4f;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
} */