.momtip_card {
  border-radius: 32px;
  width: 335px;
  height: auto;
  background: #fff4f6;

  padding: 24px;
  margin-bottom: 16px;
}
.momtip_title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.momtip_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
  margin: 0;
}

.momtip_error {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .momtip_card {
    width: 704px;
    margin-bottom: 48px;
  }
  .momtip_title {
    margin-bottom: 4px;
  }
}

@media only screen and (min-width: 1440px) {
  .momtip_card {
    width: 642px;
    height: 138px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .momtip_card::-webkit-scrollbar {
    height: 2px;
    width: 4px;
  }

  .momtip_card::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50px;
  }
  .momtip_card::-webkit-scrollbar-track {
    margin: 32px 0;
  }
  .momtip_title {
    font-size: 24px;
  }
  .momtip_text {
    font-size: 16px;
  }
}
