.card {
    border-radius: 32px;
    width: 335px;
    height: auto;
    background: #fff4f6;

    padding: 24px;
    margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
    .card {
        width: 704px;
    }
}

@media only screen and (min-width: 1440px) {
    .card {
        width: 642px;
        height: 138px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .card::-webkit-scrollbar {
        width: 6px;
    }

    .card::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
}

.title {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #000;
    margin-bottom: 8px;
}

@media only screen and (min-width: 1440px) {
    .title {
        font-size: 24px;
    }
}

.text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #000;
}

@media only screen and (min-width: 1440px) {
    .text {
        font-size: 16px;
    }
}