.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.addButton {
    padding: 8px 12px;
    background-color: #FFF4F6;
    color: #fff;
    border-radius: 16px;
    border: 1px;
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.placeholder {
    color: #777;
    text-align: center;
    margin-top: 24px;
}

/* desktop */
@media (min-width: 1440px) {
    .wrapper {
        height: 100%;
        overflow-y: auto;
    }
}