/* components/diary/GreetingBlock.module.css */
.wrapper {
    background-color: #fef9f6;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.greeting {
    font-size: 1.5rem;
    margin: 0 0 8px 0;
}

.info {
    font-size: 1rem;
    color: #555;
    margin-bottom: 12px;
}

.addButton {
    background-color: #FFF4F6;
    color: white;
    border: 1px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
}

.addButton:hover {
    background-color: var(--color-scheme-foreground-alt);;
}

.message {
    font-size: 1rem;
    color: #888;
    background-color: var(--color-scheme-foreground-alt);;
}