.page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 375px;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.listCol,
.detailsCol {
  min-width: 0;
}

@media (min-width: 768px) {
  .page {
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .page {
    max-width: 1440px;
  }
  .content {
    grid-template-columns: 420px 1fr;
    gap: 8px;
    align-items: start;
    padding-left: 32px;
    padding-right: 32px;
  }

  .listCol,
  .detailsCol {
    height: 640px;
    overflow: hidden;
    border-radius: 32px;
  }
}
