.wrapper {
    background: white;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid #eee;
    min-height: 400px;
}

.title {
    font-size: 24px;
    margin-bottom: 12px;
}

.date {
    color: #999;
    margin-bottom: 24px;
}

.emotions {
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
}

.actions {
    display: flex;
    gap: 12px;
    margin-top: 40px;
}

.edit,
.delete {
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.edit {
    background: #e3f2fd;
    color: #1976d2;
}

.delete {
    background: #ffebee;
    color: #d32f2f;
}

.placeholder {
    text-align: center;
    color: #888;
    padding: 50px;
    background: #f9f9f9;
    border-radius: 12px;
}

/* Адаптивність */
@media (min-width: 1440px) {
    .wrapper {
        height: 100%;
    }

    .list {
        flex: 1;
        overflow-y: auto;
    }
}