/* components/Diary/DiaryList/DiaryList.module.css */

/* Загальний контейнер списку */
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Заголовок та кнопка нового запису */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.addButton {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #FFF4F6;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.addButton:hover {
    background-color: var(--color-scheme-foreground-alt);;
}

/* Список карток */
.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    /* для десктопу з фіксованою висотою */
}

/* Плейсхолдер, коли записів немає */
.empty {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    color: #777;
    text-align: center;
    font-style: italic;
}

/* Адаптивність */
@media (min-width: 1440px) {
    .wrapper {
        height: 100%;
    }

    .list {
        flex: 1;
        overflow-y: auto;
    }
}