.page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 20px;
  max-width: 375px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page {
    padding: 32px 32px;
    max-width: 768px;
  }
}
