.weekContainer {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 32px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.weekContainer::-webkit-scrollbar {
  display: none;
}

.weekNumber {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;

  line-height: 34px;
  text-align: center;
  color: var(--color-scheme-text);
}

.weekText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--color-scheme-text);
}

.weekButton {
  flex: 0 0 97px;
  height: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  border: 4px solid transparent;
  background: var(--color-scheme-foreground);
  cursor: pointer;
  transition: all 0.2s ease;
}

.weekButton.active {
  background: var(--color-scheme-foreground-alt);
  border: 4px solid var(--color-scheme-border);
}

.weekButton:not(.active):not(.disabled) {
  background: var(--color-scheme-foreground);
  border: 4px solid transparent;
}

.weekButton.disabled {
  opacity: 0.5;
  background: var(--color-neutral-lightest);
  border: 4px solid transparent;
  cursor: not-allowed;
}
