.block {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  max-width: 375px;
  height: 121px;
  padding: 0 20px;
  padding-top: 16px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
border: 0px solid var(--color-scheme-border);
border-radius: 32px;
padding: 16px;
width: 159px;
height: 105px;
background: var(--color-scheme-foreground);
gap: 4px;
}
.label_status,
.error_wrapper {
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: var(--color-scheme-text);
}
.value_status {
  font-family: var(--second-family);
font-weight: 700;
font-size: 40px;
line-height: 120%;
letter-spacing: 0.01em;
color: var(--color-scheme-text);
}
@media only screen and (min-width: 768px) {
  .block_status {
    max-width: 768px;
    padding: 16px 32px 0;
    gap: 32px;
  }
  .wrapper_status {
    width: 336px;

  }
}

@media only screen and (min-width: 1440px) {
  .block_status {
    max-width: 674px;
    height: 143px;
  }

  .wrapper_status {
    max-width: 305px;
    height: 127px;
  }
}