.status_block {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
}

.status_wrapper {
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  padding: 16px;
  width: 159px;
  height: 105px;
  background-color: #fff4f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.status_error {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  padding: 0;
  margin: 0;
}

.status_label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.status_value {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #000;
}

@media only screen and (min-width: 768px) {
  .status_block {
    gap: 32px;
    margin-bottom: 32px;
  }
  .status_wrapper {
    width: 336px;
    height: 105px;
  }
}

@media only screen and (min-width: 1440px) {
  .status_block {
    margin-bottom: 0px;
  }
  .status_wrapper {
    width: 305px;
    height: 127px;
  }
  .status_label {
    font-size: 16px;
  }
  .status_value {
    font-size: 56px;
  }
}
