.block {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .block {
    gap: 32px;
    margin-bottom: 32px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  padding: 16px;
  width: 159px;
  height: 105px;
  background: #fff4f6;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 336px;
    height: 105px;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    width: 305px;
    height: 127px;
  }
}

.label {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

@media only screen and (min-width: 1440px) {
  .label {
    font-size: 16px;
  }
}

.value {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #000;
}

@media only screen and (min-width: 1440px) {
  .value {
    font-size: 56px;
  }
}