.task_section {
  background-color: var(--color-scheme-foreground);
  /* display: flex;
  flex-direction: column; */
  box-sizing: border-box;
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 24px;
  max-width: 335px;
  height: auto;
  margin-bottom: 32px;
}

.task_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.task_header h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
  margin: 0;
}

.task_header button {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #000;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.header button:hover {
  transform: scale(1.05);
  background-color: #fdeef1;
}

.taskList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 16px;
}

.taskItem {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  gap: 2px;
  transition: all 0.2s ease;
  font-size: 14px;
}

.taskItem.done .taskName {
  text-decoration: line-through;
  color: var(--color-scheme-text);
}

.checkboxLabel {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkboxLabel input {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid var(--opacity-transparent);
  border-radius: 4px;
  width: 18px;
  height: 18px;
  border: none;
  background: var(--opacity-neutral-darkest-5);
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: background-color 0.25s ease, border-color 0.25s ease;
}

.checkboxLabel input:checked {
  background: var(--color-scheme-text);
  padding: 3px 0px 0px;
  border-radius: 4px;

  border: 1px solid var(--color-scheme-text);
}

.checkboxLabel input::after {
  content: '';
  width: 11px;
  height: 6px;
  border-left: 2.5px solid #fff;
  border-bottom: 2.5px solid #fff;
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%) rotate(-45deg);
}

.checkboxLabel input:checked::after {
  opacity: 1;
}

.taskDate {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: var(--color-neutral-darkest);
  margin-left: 25px;
}

.taskContent {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.taskName {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
  color: var(--color-neutral-darkest);
}

.done .taskName {
  text-decoration: line-through;
  color: var(--color-neutral-darkest);
  opacity: 1;
}

.task_emptyState {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 4px;
  padding: 0;
}

.task_emptyTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-neutral-darkest);
  margin: 0;
}

.task_emptySubtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  margin: 0 0 12px 0;
}

.task_createButton {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--color-neutral-darkest);
  border: none;
  border-radius: 100px;
  padding: 10px 24px;
  cursor: pointer;
  border-bottom: 4px solid var(--color-scheme-accent);
  background: var(--color-scheme-foreground-alt);
  /* width: 173px; */
  height: 42px;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.createButton:hover {
  background: var(--color-scheme-background);
  border-bottom: 4px solid var(--color-scheme-border);
}

.createButton:focus-visible {
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  background: var(--color-scheme-foreground);
}
.createButton:active {
  background: var(--color-scheme-accent);
}

@media screen and (min-width: 768px) {
  .task_section {
    max-width: 704px;
  .section {
    max-width: 728px;
    height: auto;
  }
  .taskDate {
    font-size: 10px;
  }
  .taskName {
    font-size: 12px;
  }
}

@media screen and (min-width: 1440px) {
  .task_section {
    max-width: none;
    width: 390px;
    height: 498px;
    margin-bottom: 0;
  }
  .task_section::-webkit-scrollbar {
    height: 2px;
    width: 4px;
  }

  .task_section::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50px;
  }
  .task_section::-webkit-scrollbar-track {
    margin: 32px 0;
  }
  .taskList {
    overflow-y: auto;
  }

  .header h2 {
    font-size: 24px;
  }

  .taskDate {
    font-size: 12px;
  }

  .taskName {
    font-size: 14px;
  }

  .task_emptyTitle,
  .task_emptySubtitle {
    font-size: 16px;
  }

  .task_createButton {
    min-width: 191px;
    height: 46px;
    font-size: 16px;
  }
}

.addButton {
  all: unset;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
}

.addButton:hover {
  background: none !important;
  transform: none !important;
}
