.wrapper {
  display: flex;
  gap: 20px;
}

.tabsContainer {
  display: flex;
  background: var(--color-scheme-foreground);
 border: 1px solid var(--opacity-transparent);
border-radius: 100px;
padding: 4px;
max-width: 335px;
height: 50px;
}

.tab,
.activeTab {
  
  flex: 1;
  cursor: pointer;
  transition: all 0.3s ease;
border: 1px solid var(--opacity-transparent);
border-radius: 100px;
padding: 10px 24px;
max-width: 163px;
height: 42px;
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 160%;
color: var(--color-scheme-text);
}

.tab {
  background: var(--opacity-transparent);
  color: #4a4a4a;
}

.activeTab {
background: var(--color-scheme-foreground-alt);
color: var(--color-scheme-text);
}

.scrollArea {
  height: auto;
}

@media only screen and (min-width: 768px) {
  .tabsContainer {
    max-width: 704px;
  }
  .activeTab, 
  .tab {
    max-width: 348px;
  }

}
@media only screen and (min-width: 1440px) {
.tabsContainer {
  max-width: 572px;
  height: 54px;
}
.activeTab , 
.tab {
  max-width: 295px;
}
}