.wrapper {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.tabs {
  display: flex;
  background: var(--color-scheme-foreground);
  border-radius: 100px;
  padding: 4px;
  margin-bottom: 16px;
  width: 100%;
}

.tabs button {
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px 0;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-scheme-text);
  transition: all 0.2s ease;
}

.tabs button.active {
  background: var(--color-scheme-foreground-alt);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
@media screen and (min-width: 768px) {
  .tabs {
    max-width: 704px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .tabs {
    max-width: 572px;
    width: 100%;
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
