.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 335px;
  background: var(--color-scheme-foreground);
  border-radius: 32px;
}

.imageContainer {
  width: 100%;
  max-width: 287px;
  height: 379px;
  aspect-ratio: 1 / 1;
  background-color: #ffffff;
border: 1px solid var(--color-scheme-border);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.illustration {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textBlock {
 font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: var(--color-scheme-text);
}

.description {
  white-space: pre-wrap;
}

.factCard {
  background: var(--color-scheme-foreground-alt);
  border-radius: 12px;
  padding: 122px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.factHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 263px;
  height: 24px;
  olor: var(--color-scheme-text);
}

.factHeader h4 {
  margin: 0;
  font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 150%;
color: var(--color-scheme-text);
}

.icon {
  font-size: 20px;
}

.loader,
.error {
  text-align: center;
  padding: 40px;
  color: #888;
}
@media only screen and (min-width: 768px) {
.wrapper {
  max-width: 704px;
}
.imageContainer {
  max-width: 656px;


}
.textBlock {
  max-width: 656px;
}
.factHeader {
  max-width: 656px;
}
}


@media only screen and (min-width: 1440px) {

}