.btnReset {
  width: 100%;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  text-align: left;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card {
  padding: 12px;
  border: 1px solid var(--color-scheme-foreground-alt);
  border-radius: 16px;
  padding: 16px;
  width: 303px;
  height: 91px;
  background: var(--color-scheme-foreground-alt);
}

.active {
  outline: 2px solid rgba(0, 0, 0, 0.08);
}

.top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.title {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-scheme-text);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  font-size: 12px;
  opacity: 0.7;
  flex: 0 0 auto;
}

.emotions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 4px;
}

.tag {
  background: var(--color-scheme-foreground);
  padding: 4px 12px;
  border-radius: 100px;
  font-size: 12px;
  color: var(--color-scheme-text);
  border: 1px solid var(--opacity-transparent);

  white-space: nowrap;
}

.emoji {
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 2px 12px;
  width: 94px;
  height: 25px;
  background: var(--color-scheme-foreground);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .card {
    width: 690px;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 345px;
  }
}
