.title {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #000;
    margin-bottom: 16px;
    width: 335px;
}

@media only screen and (min-width: 768px) {
    .title {
        width: auto;
    }
}

@media only screen and (min-width: 1440px) {
    .title {
        font-size: 32px;
        width: auto;
    }
}