.block_title {
    max-width: 376px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;

}
.title_greeting {
    max-width: 311px;
        margin: 0 auto;
        font-family: var(--second-family);
font-weight: 700;
font-size: 24px;
line-height: 140%;
letter-spacing: 0.01em;
color: var(--color-scheme-text);
padding: 16px 32px 0;
}
@media only screen and (min-width: 768px) {
    .title_greeting  {
    
    }
}

@media only screen and (min-width: 1440px) {
    .title {
        font-size: 32px;
    }
}