.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 294px;
  margin: 0 auto;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .form {
    max-width: 640px;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #000;
  margin: 0 auto 20px;
  font-family: "Comfortaa", sans-serif;
}

@media only screen and (min-width: 1440px) {
  .title {
    font-size: 48px;
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  width: 100%;
}

.labelText {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

@media only screen and (min-width: 1440px) {
  .labelText {
    font-size: 16px;
  }
}

.textInputTitle {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 8px 12px;
  width: 100%;
  height: 37px;
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  outline-color: #ffdae0;
  font-family: "Lato", sans-serif;
}

@media only screen and (min-width: 1440px) {
  .textInputTitle {
    font-size: 16px;
    height: 40px;
  }
}

.textInputTextArea {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 12px;
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.05);
  resize: none;
  font-weight: 400;
  font-size: 14px;
  outline-color: #ffdae0;
  font-family: "Lato", sans-serif;
}

@media only screen and (min-width: 768px) {
  .textInputTextArea {
    height: 250px;
  }
}

@media only screen and (min-width: 1440px) {
  .textInputTextArea {
    font-size: 16px;
  }
}

.button {
  align-self: center;
  color: #000;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 4px solid #ffcbd3;
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  height: 42px;
  background-color: #ffdae0;
  font-family: "Lato", sans-serif;
}

.button:hover,
.button:focus {
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  background-color: #fff4f6;
}

.button:active {
  background-color: #ffcbd3;
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  background-color: #ffdae0;
}

@media only screen and (min-width: 768px) {
  .button {
    max-width: 268px;
  }
}

@media only screen and (min-width: 1440px) {
  .button {
    font-size: 16px;
    height: 46px;
  }
}

.error {
  font-weight: 400;
  font-size: 12px;

  line-height: 1.6;
  color: #c60000;
}

.inputError {
  border: 1px solid #c60000;
  outline: none;
}

.inputError::placeholder {
  color: #c60000;
}
