.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  color: #111111;
}

.input,
.textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background-color: #f9f9f9;
  font-size: 14px;
}

.textarea {
  min-height: 120px;
  resize: none;
}

.submitBtn {
  width: 268px;
  height: 42px;
  background-color: #ffd7d7;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  margin: 0 auto;
  cursor: pointer;
}

.error {
  color: #da3333;
  font-size: 12px;
}
