/* МОБІЛЬНІ (по дефолту) */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
}

.input,
.textarea {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
}

.submitBtn {
  width: 100%; /* На мобільці кнопка на всю ширину / max-width: 268px; / Але не більше ніж ти бачила в Figma */
  height: 42px;
  border-radius: 100px;
  background-color: #ffd7d7;
  border: none;
  align-self: center;
  font-weight: 600;
}

/* ПЛАНШЕТ (від 768px) */
@media screen and (min-width: 768px) {
  .form {
    gap: 24px;
    padding: 0;
  }

  .input,
  .textarea {
    font-size: 16px;
  }
}

/* ДЕСКТОП (від 1280px) */
@media screen and (min-width: 1280px) {
  .form {
    display: grid;
    grid-template-columns: 1fr; /* Можна зробити у дві колонки, якщо макет дозволяє */
    gap: 32px;
  }
}
