.card {
    background: var(--color-scheme-foreground);
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: 0px solid var(--color-scheme-border);
    border-radius: 32px;
    padding: 24px;
    max-width: 335px;
    height: auto;
    margin-bottom: 32px;
}

.title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 1, 4;
    letter-spacing: 0.01em;
    color: var(--color-scheme-text);
    margin-bottom: 8px;
}

.subtitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-scheme-text);
}

.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-scheme-text);
    margin-bottom: 24px;
}

.button {
    align-self: flex-start;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-bottom: 4px solid var(--color-scheme-accent);
    border-radius: 100px;
    padding: 10px 24px;
    width: 225px;
    height: 42px;
    background: var(--color-scheme-foreground-alt);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-scheme-text);
}

.button:hover {
    background: var(--color-scheme-background);
    border-bottom: 4px solid var(--color-scheme-border);
}

.button:focus {
    border-bottom: 4px solid var(--opacity-neutral-darkest-15);
    background: var(--color-scheme-foreground);
}

.button:active {
    background: var(--color-scheme-accent);
}

@media screen and (min-width: 768px) {
    .card {
        max-width: 704px;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        max-width: none;
        /* width: 390px; */
        /* height: 210px; */
    }

    .button {
        width: 250px;
        height: 46px;
        font-size: 16px;
    }

    .title {
        font-size: 24px;
    }

    .subtitle {
        font-size: 16px;
    }

    .text {
        font-size: 16px;
    }
}