.feeling_card {
  background: var(--color-scheme-foreground);
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 24px;
  max-width: 335px;
  height: auto;
}

.feeling_title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 4;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
  margin-top: 0;
  margin-bottom: 8px;
}

.feeling_subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-text);
  margin: 0;
}

.feeling_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-text);
  margin-top: 0;
  margin-bottom: 24px;
}

.feeling_button {
  align-self: flex-start;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-bottom: 4px solid var(--color-scheme-accent);
  border-radius: 100px;
  padding: 10px 24px;
  width: 225px;
  height: 42px;
  background: var(--color-scheme-foreground-alt);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-text);
  margin: 0;
}

.feeling_button:hover {
  background: var(--color-scheme-background);
  border-bottom: 4px solid var(--color-scheme-border);
}

.feeling_button:focus {
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  background: var(--color-scheme-foreground);
}

.feeling_button:active {
  background: var(--color-scheme-accent);
}

@media only screen and (min-width: 768px) {
  .feeling_card {
    min-width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .feeling_card {
    min-width: 0;
    max-width: 390px;
    height: 210px;
  }

  .feeling_button {
    width: 250px;
    height: 46px;
    font-size: 16px;
  }

  .feeling_title {
    font-size: 24px;
  }

  .feeling_subtitle {
    font-size: 16px;
  }

  .feeling_text {
    font-size: 16px;
  }
}
