.card_baby {
   max-width: 375px;
   height: 802px;
   padding: 16px 20px 0;
   background: var(--color-scheme-background);
   margin: 0 auto;
}
.title_baby {
font-family: var(--second-family);
font-weight: 700;
font-size: 20px;
line-height: 140%;
letter-spacing: 0.01em;
color: var(--color-scheme-text);
}
.content_baby {
border: 1px solid var(--color-scheme-border);
border-radius: 24px;
max-width: 287px;
height: 216px;
}
.textWrapper_baby {
 margin-bottom: 24px;
}
.info_baby {
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 150%;
color: var(--color-scheme-text);
}

.infotext_baby {
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: var(--color-scheme-text);
}
@media only screen and (min-width: 768px) {
}
.card_baby {
    max-width: 768px;
    height: 585px;
    padding: 32px;

}
.textWrapper_baby {
    max-width: 383px;
    padding: 47px 0;
}
.infotext_baby:last-child {
max-width: 656px;
padding: 24px;

}

@media only screen and (min-width: 1440px) {
}