.babytoday_card {
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 32px;

  padding: 24px;
  width: 335px;
  height: auto;

  background: #fff4f6;
  margin-bottom: 24px;
}

.babytoday_error {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  padding: 0;
  margin: 0;
}

.babytoday_title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #000;
  margin-top: 0;
  margin-bottom: 16px;
}

.babytoday_image {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  width: 287px;
  height: 216px;
  margin-bottom: 16px;
}

.babytoday_textWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.babytoday_info {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.babytoday_info:last-of-type {
  margin-bottom: 24px;
}

.babytoday_infotext {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.babytoday_infotext:last-of-type {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .babytoday_card {
    width: 704px;
  }
  .babytoday_title {
    margin-bottom: 16px;
  }

  .babytoday_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
  }
  .babytoday_image {
    margin-bottom: 0;
    width: 257px;
    height: 194px;
  }
  .babytoday_textWrapper {
    width: 383px;
  }
  .babytoday_info:last-of-type {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .babytoday_card {
    width: 642px;
    max-height: 412px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .babytoday_card::-webkit-scrollbar {
    width: 6px;
  }

  .babytoday_card::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  .babytoday_title {
    font-size: 24px;
  }
  .babytoday_info {
    font-size: 16px;
  }
  .babytoday_infotext {
    font-size: 16px;
  }
}
