.nav {
  padding-top: 24px;
  padding-left: 32px;
  font-family: var(--font-family);
  max-width: 375px;
  margin: 0 auto;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;

  color: var(--color-scheme-text);
  text-decoration: none;
}

.link:visited {
  color: var(--color-scheme-text);
}

.link:hover,
.link:focus-visible {
  text-decoration: none;
  outline: none;
}

.current {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;

  color: var(--color-neutral);
}

.arrow {
  width: 7px;
  height: 12px;
  display: block;
  flex: 0 0 24px;

  stroke: var(--color-scheme-text);
}

@media screen and (min-width: 768px) {
  .nav {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .nav {
    max-width: 1440px;
  }
}
