.nav {
  padding-top: 24px; /* сверху от хедера */
  padding-left: 32px; /* слева */
  font-family: var(--font-family);
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;

  margin: 0;
  padding: 0;
  list-style: none;
}

/* общий стиль всех элементов */
.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* ССЫЛКИ (не последний элемент) */
.link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;

  color: var(--color-scheme-text);
  text-decoration: none; /* убираем подчеркивание */
}

/* убираем мусорные состояния ссылок */
.link:visited {
  color: var(--color-scheme-text);
}

.link:hover,
.link:focus-visible {
  text-decoration: none;
  outline: none;
}

/* ТЕКУЩИЙ элемент (последний) */
.current {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;

  color: var(--color-neutral);
}

/* SVG-стрелка */
.arrow {
  width: 24px;
  height: 24px;
  display: block;
  flex: 0 0 24px;

  color: var(--color-scheme-text); /* цвет стрелки как у активных */
}
