.dashboard_page {
  max-width: 375px;
  padding: 18px 20px;
  margin: 0 auto;
}

/* .main_container_dashboard {
  display: flex;
  flex-direction: column;
}  */

@media only screen and (min-width: 768px) {
  .dashboard_page {
    min-width: 768px;
    padding: 16px 32px 32px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .dashboard_page {
    max-width: 1128px;
    margin: 0;
  }
  .main_container_dashboard {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .left_block {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .right_block {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
