.wrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
  margin: 0;
  padding: 16px 20px 0;
}

.subtitle {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    padding: 24px 32px 0;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: var(--color-scheme-text);
  }
}

@media (min-width: 1440px) {
  .title {
    padding: 16px 32px 0;
  }
}
